.container-conteudo{
    color: #fff;
    max-width: 80%;
    margin: 0 10%;
}
.carrousel{
    z-index: 0;

}
.slide{
    z-index: 0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.image-cover{
    max-height: 100vh;
    mask-image:none;
    image-rendering: auto;
}
.container-introducao{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.poster-home{
    max-width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.introducao{
    margin: 150px 0;
}
.texto-introducao{
    max-width: 60%;
    text-align: justify;
    font-size: 17px;
    margin: 5px;
}
p{
    text-align: justify;
    font-size: 17px;
}
hr{
    margin: 50px 0px;
}

.container-card-personagens{
    margin: 100px 0;
    flex-wrap: wrap;
}
.texto-personagens{
margin-left: 100px ;
}
.poapo{
    display: flex;
    align-items: center;
}
.card{
    background-color: #202830;
}
.text-bg-dark{
    width: 600px;
}

a{
    text-decoration: none;
    color: #fff;
}
video{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);

}